.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
}

.logo {
  font-weight: bold;
  color: #00f5ff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li {
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li:hover {
  color: #00f5ff;
  transform: scale(1.1);
}